.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.globalWrapper{
  display: flex;
  justify-content: center;
  padding-top: 80px;
  gap: 50px;
  background-color: #FAFAFA;
}
.recWrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 135px;
  @media (max-width:999px) {
    display: none;
  }
}