.modalRoot {
  width: 100vw;
  height: 100vh;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
}

.closeModal {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
}

.post {
  max-width: 935px;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
}

.image {
  height: 100%;
}

.imageHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #000;
}
