.modalRoot {
  width: 100vw;
  height: 100vh;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
}

.closeModal {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
}

.post {
  max-width: 785px;
  max-height: 450px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
}

.image {
  width: 100%;
}

.imageHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 100%;
  background-color: #000;
}

.menu {
  max-width: 335px;
  min-width: 300px;
  width: 100%;
  box-sizing: border-box;
}

.main {
  overflow: auto;
  max-height: 60%;
  padding: 16px 16px 0;
}
