.wrapper{
  margin-top: 20px;
  display: flex;
  height: 223px;
  width: 214px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 23px;
  & a div p{
    margin-left: 15px;
  }
}
.columnWrapper{
  @extend .wrapper;
  flex-direction: column;
}
.item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
}