.main{
  display: flex;
  background-color:#FAFAFA;
  font-family: "Segoe UI";
}
.container{
  margin: 0 auto 30px;
  display: flex;
  flex-direction: column;
  max-width: 935px;
  width: 100%;
  @media (min-width: 736px){
    padding: 30px 20px 0;
    width: calc(100% - 40px);
    box-sizing: content-box;
  }
}
.avaHeader{
  display: flex;
  @media (min-width: 736px){
    margin-bottom: 44px;
  }
}

.stats{
  display: flex;
  justify-content: flex-start;
  & :nth-child(1) {
    margin-left: 0px;
  }
}
.postContent{
  display:flex;
  justify-content: center;
}
.statElement{
  margin-left: 40px;
  & span{
    font-weight: 600;
  }

}
.avaInfoSection{
  flex-basis: 30px;
  flex-grow: 4;
}
.subscribeSettings{
  align-items: center;
  display: flex;
  box-sizing: border-box;
  @media (min-width: 736px) {
    margin-bottom: 20px;
  }
}