.container {
  max-width: 600px;
  margin-bottom: 24px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: rgb(250, 250, 250);
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main {
  &__image {
    max-width:100%;
    height:auto;
  }
}

.footer {
  &__actions {
    padding: 0 16px;
    margin: 12px 0;
  }

  &__meta {
    padding: 0 16px;
    display: flex;
    align-items: center;
  }
  
  &__description {
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
  }
}